@page
@model Appointment_system_managment.Pages.Appointments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="appointment.Id" />
            <div class="form-group">
                <label asp-for="appointment.ClinicId" class="control-label"></label>
                <select asp-for="appointment.ClinicId" class="form-control" asp-items="ViewBag.ClinicId"></select>
                <span asp-validation-for="appointment.ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointment.Doctor_DetailID" class="control-label"></label>
                <select asp-for="appointment.Doctor_DetailID" class="form-control" asp-items="ViewBag.Doctor_DetailID"></select>
                <span asp-validation-for="appointment.Doctor_DetailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointment.Patient_DetailID" class="control-label"></label>
                <select asp-for="appointment.Patient_DetailID" class="form-control" asp-items="ViewBag.Patient_DetailID"></select>
                <span asp-validation-for="appointment.Patient_DetailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointment.Appointment_date_time" class="control-label"></label>
                <input asp-for="appointment.Appointment_date_time" class="form-control" />
                <span asp-validation-for="appointment.Appointment_date_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
