@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our clinic</h1>
    <!--the code use for show the image and increse the size of image on the website-->
    <img src="~/img/dr.jpg"  height="800" width="800" />

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
